.btn {
    border: none;
    padding: 1rem;
    transition: all 300ms ease-in-out;
    background: var(--first-color);
    color: var(--white-color);
    margin-top: 1.5rem;
    font-size: 1rem;
}

.btn:hover {
  background: var(--second-color);
}
.btn:focus {
  outline: 0;
}

/*-----BUTTON-CTA----*/
.btn-cta {
    margin-top: 2rem;
    font-size: 1.2em;
  }   


/*--------CONTACT BUTTON  ----------*/  
.btn-contact {
  max-width: 200px;
  display: inline-block;
}




/*------Hamburger Button------*/
.header__toggle,
.header__toggle > * {
  cursor: pointer;
}
.header__toggle > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: var(--white-color);
  transition: all 300ms ease-in-out;
  transform-origin: 3px 1px;
}
.header__toggle > span:not(:last-child) {
  margin-bottom: 5px;
}

.header.open .header__toggle > span:first-child {
  transform: rotate(45deg);
}
.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}
.header.open .header__toggle > span:last-child {
  transform: rotate(-45deg);
}

.btn-submit {
    padding: 1rem;
    display: inline-block;
    font-weight: bold;
    text-align: center;
  }


/**BTN IR ARRIBA**/
.btn-up {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: all .5s ease;
  position: fixed;
  right: 20px;
  bottom: 75px;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-up .item {
  width: 0%;
  height: 0%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--second-color);
  color: var(--white-color) !important;
  opacity: 0;
  transform: scale(0);
  cursor: pointer;
  box-shadow: var(--box-shadow);
  transition: all .5s ease;
}

.shows {
  animation: popup .5s ease-in-out !important;
  transform: scale(1) !important;
  opacity: 1 !important;
  width: 100% !important;
  height: 100% !important;
  transition: all .5s ease;
}

@keyframes popup {
  0% {
      width: 0% !important;
      height: 0% !important;
      opacity: 0 !important;
  }

  50% {
      width: 50% !important;
      height: 50% !important;
      opacity: 0.5 !important;
  }

  100% {
      width: 100% !important;
      height: 100% !important;
      opacity: 1 !important;
  }
}
