.container {
    width: 90%;
    margin: 0 auto;
    max-width: var(--max-width);
}
.container-md {
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}

.container-full {
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    overflow-x: hidden;
    padding-top: 2rem;
}

