/* ********** Contact Form ********** */
.contact-form {
    margin: 4rem auto;
    max-width: 800px;
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
  }
  
  .contact-form > * {
    padding: 1rem;
    display: block;
    width: 100%;
  }
  
  .contact-form input,
  .contact-form textarea {
    font-family: var(--font);

  }
  
  .contact-form input {
    border: 0;
    border-bottom: thin solid var(--gray-dark-color);
  }
  
  .contact-form textarea {
    resize: none;
    max-width: 800px;
    margin-top: 2rem;
  }
  
  .contact-form-title {
    text-transform: uppercase;
    text-align: center;
  }
  
  .contact-form *::placeholder {
    color: var(--gray-dark-color);
    font-size: 1rem;
  }
  
  .contact-form-response {
    padding: 1rem;
    margin: 0 auto;
    max-width: 400px;
    text-align: center;
    background-color: var(--white-color);
  }
  .contact-form-response svg{
    margin-top: 2rem;
    width: 4rem;
    height: 4rem;
    fill: var(--first-color);
  }

  .contact-form-loader {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contact-form-loader img{
    width: 2rem;
    margin: auto;
  }

  .modal#gracias:target {
    opacity: 1;
    pointer-events: auto;
  }


  @media screen and (min-width: 1024px) {
    .contact-form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1rem;
    }
  
    .contact-form input,
    .contact-form textarea {
      font-size: 1rem;
    }
  
    .contact-form-title,
    .contact-form textarea,
    .contact-form-loader {
      grid-column: span 2;
    }
  
    .contact-form input[type="submit"] {
      margin-left: 0;
    }
  }