/* ********** Modal ********** */
.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--first-color);
    opacity: 0;
    pointer-events: none;
    transition: all 1s;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
  }
  
  .modal-content {
    position: relative;
    background-color: var(--white-color);
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
  }
  
  /* .modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  
  .modal-close svg {
    width: 3rem;
    height: 3rem;
    fill: var(--first-color);
  }
  
  .modal[id|="project"]:target {
    opacity: 1;
    pointer-events: auto;
  }

  .modal-img {
      width: 50%;
      object-fit: contain;

  } */


  /* portfolio-project modal */

  .portfolio-modal {
    padding: 1rem;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
  }
  
  .portfolio-modal h3 {
    border-bottom: medium solid var(--first-color);
    margin: 1rem auto;
    padding: 0.5rem 0;
    color: var(--title-color);
  }
  
  .portfolio-details {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-auto-rows: 2rem;
  }
  
  .portfolio-details b {
    color: var(--first-color);
  }
  