@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;700&display=swap");

@import 'variables.css';
@import 'containers.css';
@import 'buttons.css';
@import 'cards.css';
@import 'modal.css';
@import 'contact-form.css';

/* ********** Reset ********** */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  outline: 0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  background: var(--white-color);
  width: 100%;
  /* min-height: 100vh; */
  overflow-x: hidden;
  color: var(--first-color);
  margin: 0;
  outline: 0;
  display: flex;
  flex-direction: column;
  font-family: var(--font);
  font-size: 16px;
}



/*-------Global Styles--------*/
body.noscroll {
  overflow: hidden;;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--first-color);
}
  a:visited {
    color: var(--first-color);
  }
h2 {
  text-align: center;
}
img {
  width: 100%;
  object-fit: cover;
}

/*---------HEADER-----------*/
.header {
  background: var(--first-color);
  height: var(--header-height);
}
.header__nav {
  /* max-height: min-content; */
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.none {
  display: none;
}
/*------------LOGO---------------*/

.logo a {
  color: var(--white-color);
  font-size: 2rem;
  font-weight: bold;
}

  .logo a span {
    color: var(--second-color);
  }


/*-------------MENU SECTION----------------*/

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  text-align: center;
  overflow:hidden;
}

.menu li {
  display: inline-block;
}
.menu li:not(:last-child) {
  padding: 0 1rem;
}

.menu a.menu__links {
  text-decoration: none;
  color: var(--white-color);
  text-transform: uppercase;
  position: relative;
}


/*--------PORTADA - HERO SECTION-----------*/

.portada {
  background: linear-gradient(rgba(0,0,0, .50) 0%, rgba(0,0,0, .50) 100%), url(../assets/coworking-medium.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  top: var(--header-height);
  min-height: 100vh;
}
  .portada__text {
    max-width: var(--max-width);
  }

  .portada__title {
    font-size: 2rem;
    text-align: left;
    margin: 0;
  }

    .portada__text h1 b {
      color: var(--second-color);
      background: var(--white-color);
    }

    .portada__text p {
      font-size: 1.2rem;
      font-weight: normal;
    }



/*------SERVICES SECTION  --------*/

.services__cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .services__title {
      text-transform: uppercase;
    }

/*------PROJECTS SECTION-----*/
.projects__section{ 
    background-color: var(--third-color);
}
.projects__title {
  text-transform: uppercase;
}
    .projects {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem;
    }

    .project {
      background-color: var(--white-color);
      padding: 1rem;
      max-width: 400px;
      margin: 1rem auto;
    }
    .project img {
      margin: 0 auto;
      height: 175px;
    }
/*--------CONTACT SECTION----------*/

.contact__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*----------FOOTER----------------*/
.footer {
  background: var(--first-color);

} 
.footer section a {
  color: var(--white-color);
  font-weight: bold;
}
 .social {
   height: var(--header-height);
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

  .social__links a{
      padding: 0 .5rem;
      font-size: 1.5rem;
      transition: all 0.2s ease-in-out;
    }   
.social__links a:hover
 {
    color: var(--third-color);
  }

.social__logos {
  color: var(--white-color);
}
  .copyright a,
  .copyright p {
    color: var(--white-color);
  }

  .copyright span {
    color: var(--second-color);
  }
/*---------------------END OF LAYOUT----------------------------------*/


/*-------BREAKPOINTS----*/

@media screen and (min-width: 36rem){/*576*/
  body {
    font-size: 17px;
  }
  .services__cards,
  .projects{
    display: flex;
    flex-flow: row wrap;
    padding: 2rem;
  }
  .portada__text p{
    width: 50%;
  }
}

@media screen and (min-width: 768px) and (max-width: 74.9375rem){/*768-1199*/
    .services__cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
}

@media screen and (max-width: 61.9375rem){/*991*/
/*menu lateral*/
.hide-for-mobile {
  display: none;
}
  .menu.show {
    transform: translateX(0);
  }
  .menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: var(--header-height);
    min-height: calc(100vh - var(--header-height));
    transform: translateX(-100%);
    transition: transform 0.2s linear;
    background: var(--first-color);
    padding: 1rem;
    /* overflow:hidden; */
    text-transform: uppercase;
    letter-spacing: .25rem;
  }

  .menu {
    overflow: scroll;
  }

  .menu li,
  .menu li a {
  display: block;
  width: 100%;
  margin: 1rem auto;
  }
  .menu > * {
    padding: 1rem;
    }
  .menu > *:hover {
    background: var(--second-color);
    }

    .footer {
      font-size: 0.7rem;
    }
}

@media screen and (min-width: 62rem){/*992 desde aqui desaparece el btn_toggle*/
  body {
    font-size: 18px;
  }
  .hide-for-desktop{
    display: none;
  }
  .header {
    position: sticky;
    top: 0;
  }

  /* -------MENU ---------*/


/*Hover animation for menu links*/
.menu__links::before {
    content: "";
    position: absolute;
    display: inline-block;
    top: 1.3rem;
    width: 0;
    height: 0.1875em;
    background: var(--second-color);
    left: 0;
    bottom: 0;
    transition: width 0.3s ease;
}

.menu__links:hover::before {
      width: 100%;
  }
}

@media all and (min-width: 1024px) {
body {
  font-size: 19px;
}
}