/* ********** Custom Properties ********** */
:root {
    --first-color: #0C2235;
    --first-alpha-color: rgba(12, 34, 53, 0.7);
    --second-color: #ec2229;
    --second-alpha-color: rgba(236, 34, 41, 0.7);
    --third-color: rgb(141, 202, 255);
    --third-alpha-color: rgba(141, 202, 255, 0.7);
    --white-color: #fff;
    --gray-light-color: #f3f3f3;
    --gray-color: #ccc;
    --gray-dark-color: #666;
    --black-color: #000;
    --link-color: #509ee3;
    --title-color: #333;
    --text-color: #222;
    --white-alpha-color: rgba(255, 255, 255, 0.5);
    --black-alpha-color: rgba(0, 0, 0, 0.5);
    --font: "Nunito Sans", sans-serif;
    --max-width: 1200px;
    --header-height: 4rem;  
    --box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
      0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }